div#typeSelection{
    position:fixed;
    left:0px !important;
    top:0px !important;
    right:0px !important;
    bottom:0px !important;
    height:100% !important;
    width:100% !important;
    margin:0px !important;
    z-index:999 !important;
}

button#closeMenu{
    font-weight:bold;
    margin-bottom:15px;
    color:white;
}

@media only screen and (max-width:799px){
    div#colSx{
        width:70%;
    }

    div#colDx{
        width:30%;
    }

    p#inputType{
        margin:15% 0px 10%;
    }

    button#run{
        margin-left:10%;
        margin-right:10%;
        width:80%;
    }

    input#inputString{
        width:80%;
        margin-left:10%;
        margin-right:10%;
    }

    ::placeholder{
        font-size:large;
    }
}

@media only screen and (min-width:800px){
    div#colSx{
        width:50%;
    }

    div#colDx{
        width:50%;
    }

    p#inputType{
        margin:7% 0px 8%;
    }

    button#run{
        margin-left:20%;
        margin-right:20%;
        width:60%;
    }

    input#inputString{
        width:60%;
        margin-left:20%;
        margin-right:20%;
    }

    ::placeholder{
        font-size:20px;
    }
}

div#colSx{
    float:left;
    height:100%;
    padding-top:15px;
    overflow:auto;
}

div#colDx{
    height:100%;
    float:right;
    background:black;
    opacity:0.6;
}

div#colSx ul.list-group-flush li.list-group-item{
    background:#17a2b8 !important;
    color:white;
    font-size:large;
}

div#colSx ul.list-group-flush li.list-group-item:hover{
    background:#007bff !important;
}

html,body{
    margin:0px !important;
    padding:0px !important;
}

button#run{
    margin-top:4%;
}

input#inputString{
    border-left-width:0px !important;
    border-right-width:0px !important;
    border-top-width:0px !important;
    border-bottom-width:2px;
    border-bottom-color: #565656;
    margin-bottom:4%;
}

::placeholder{
    color:black;
    opacity: 0.8;
    z-index: revert;
}

input:focus{
    outline:none !important;
}

div#main{
    width:100%;
}

p#inputType{
    width:100%;
    text-align:center;
}

p#inputType button#selectInputType{
    font-size:large !important;
    font-weight: bold !important;
}

p#textResult{
    width:100%;
    padding:5% 20px 2%;
    font-size:large;
    text-align:center;
}